@import 'globals/variables';

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  font-family: $f_family_main;
  font-size: $f_size_base;
  line-height: $f_line_height_base;
  font-weight: $f_weight_base;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  border: none;
  background: transparent;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}