.breadcrumbs {
  background-color: $c_gray;

  ol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
    margin-left: 15px;

    li {
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;

      a {
        color: $c_black;
      }

      &.active {
        font-weight: 500;
        color: $c_white;
      }
    }

    li.sep {
      font-size: 12px;
      color: #2A2742;
      opacity: .2;
      margin: 0 8px;
    }
  }
}