.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  transform: rotate( 0deg );
  transition: .5s ease-in-out;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: flex-end;
  margin-bottom: 10px;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $c_blue;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 17px;
    }
  }

  &.open {

    span {

      &:nth-child(1) {
        top: 9px;
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        width: 0;
        left: 50%;
      }
    }
  }
}