.custom-select {
  position: relative;
  display: block;

  select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $b_color;
    //border-radius: 6px;
    //box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
    height: 50px;
    padding: 0 35px 0 15px;
    font-family: $f_family_main;
    font-size: 0.875rem; // 14px
    background: url(../svg/carret-down.svg) calc(100% - 20px) center no-repeat $c_white;

    &::-ms-expand {
      display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }

    &::placeholder {
      color: $c_black;
    }
  }
}